
.card {
    background-color: black;
}

.image_box {
    position: relative;
    z-index: 1;


}

.small_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play_icon {
    position: absolute;
    left: 10px;
    cursor: pointer;
    bottom: 10px;
    /* width: 30px; */
    display: none;
    transition: transform .1s ease-out;
    z-index: 55;
}

.paused_icon {
    position: absolute;
    left: 10px;
    cursor: pointer;
    bottom: 10px;
    display: block;
    transition: transform .1s ease-out;
    z-index: 55;
}

.image_box:hover .play_icon {
    display: block;
    /* Показываем .play_icon при наведении */
}



.small_image:hover {
    cursor: pointer;
}

.image_box:hover .dimmer {
    background-color: rgba(0, 0, 0, .2);
    /* Сохраняем затемнение при наведении */
}

.box_title {
    font-size: 17px;
    width: 80%;
    font-weight: 500;
    color: white;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 33;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        /* text-decoration: underline; */
        color: rgba(255, 255, 255, .8);
    }
}

.dimmer {
    position: absolute;
    z-index: 22;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: background-color .1s ease-in;
    width: 100%;
    height: 100%;

    &:hover {
        background-color: rgba(0, 0, 0, .4);
        /* transition: background-color .2s ease-in; */
    }
}