.wrap {
    position: absolute;
    z-index: 999;
    top: -300px;
    left: 160px;
    transition: all 0.3s;
    color: #fff;
    padding: 20px 10px 10px 10px;
    border-radius: 5px;
    width: 380px;
    background-color: transparent;
}


