.wrap {
    position: absolute;
    z-index: 999;
    top: -300px;
    left: 160px;
    transition: all 0.3s;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    width: 380px;
    background-color: transparent;
}



/* @media screen and (min-width: 1200px) {
    .wrap {
        left: 140px
    } 
} */