.box {
    position: relative;
}

.title {
    position: absolute;
    display: flex;

    justify-content: space-between;
    align-items: center;
    width: 300px;
    top: -15px;
    left: 54px;
}



.music_player {
    display: flex;
    gap: 10px;
    align-items: center;
    /* padding: 10px; */

}

.play_box {
    border: 1px solid gray;
    background-color: #0d0d0d;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}


.play_box button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
}


.progress_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100%;

}

.progress_bar input[type="range"] {
    width: 100%;
}


.progress_bar input[type="range"] {
    -webkit-appearance: none;
    /* Chrome, Safari, Opera */
    appearance: none;
    /* Firefox */
    background: transparent;
    cursor: pointer;
    width: 100%;
}

/* Удаление стандартного фокуса */
.progress_bar input[type="range"]:focus {
    outline: none;
}



/* Стили для Chrome, Safari, Opera и Edge Chromium */
.progress_bar input[type="range"]::-webkit-slider-runnable-track {
    background-color: #ffffff;
    height: 8px;
    width: 100%;
    border-radius: 1px;
    border: 0.2px solid #b4b0b0;
}

.progress_bar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -6px;
    background-color: #ffffff;
    height: 18px;
    width: 10px;
    border: 1px solid #474646;
    border-radius: 2px;

}


/* Стили для Firefox */
.progress_bar input[type="range"]::-moz-range-track {
    background-color: #ffffff;
    height: 8px;
    width: 100%;
    border-radius: 1px;
    border: 0.2px solid #b4b0b0;
}


.progress_bar input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -3px;
    background-color: #ffffff;
    height: 13px;
    width: 40px;
    border: 1px solid #474646;
    border-radius: 2px;
}



.progress_bar input[type="range"]::-ms-fill-lower {
    background-color: #000;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0.2px solid #010101;
}

.progress_bar input[type="range"]::-ms-fill-upper {
    background-color: #000;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0.2px solid #010101;
}

.progress_bar input[type="range"]::-ms-thumb {
    height: 15px;
    width: 30px;
    background-color: #000;
    border: 1px solid #f7ebeb;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.time {
    font-size: 13px;
    text-align: center;
    color: gray;
}

.name {
    font-size: 14px;
    color: gray;
}

.controls {
    display: flex;
    align-items: center;
    gap: 15px;
    /* justify-content: space-around; */
    width: min-content;
    margin-left: 10px;
    /* margin-top: 20px; */
}

.controls button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.volume-control {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.volume-control button {
    margin-right: 10px;
}

.volume-control input[type="range"] {
    width: 100%;
}