.image_box {
    position: relative;
    z-index: 1;
    height: 100%;
    cursor: pointer;
}

.rec_title {
    font-size: 24px;
    font-weight: 500;
    color: white;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 33;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        /* text-decoration: underline; */
        color: rgba(255, 255, 255, .8);
    }
}

.play_icon {
    position: absolute;
    left: 50%;
    cursor: pointer;
    top: 50%;
    width: 90px;
    transform: translate(-50%, -50%);
    display: none;
    transition: transform .1s ease-out;
    z-index: 55;

    &:hover {
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.rec_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;

    /* Добавьте position: relative для абсолютного позиционирования внутри */
}

.image_box:hover .play_icon {
    display: block;
    /* Показываем .play_icon при наведении */
}

.rec_image:hover {
    cursor: pointer;
}



.dimmer {
    position: absolute;
    z-index: 22;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: background-color .1s ease-in;
    width: 100%;
    height: 100%;

    &:hover {
        background-color: rgba(0, 0, 0, .2);
        /* transition: background-color .2s ease-in; */
    }
}

.image_box:hover .dimmer {
    background-color: rgba(0, 0, 0, .2);
    /* Сохраняем затемнение при наведении */
}