* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}



#root {
  /* min-height: 100svh; */
  height: 100%;

}


body {
  margin: 0 auto;
  max-width: 1900px;
  min-height: 100svh;
  min-width: calc(100% - 15px);
}

.transition {
  transition: background-color 0.4s ease;
}


.custom__skeleton {
  --mantine-color-body: rgb(15, 15, 15);
  --mantine-color-gray-3: rgb(17, 17, 17);
}

.dark__theme {
  color: rgba(240, 255, 255, 0.883);
  background-color: #101010;
  /* background-color: rgba(0, 0, 0, 0.977); */
  --scrollbar-bg: #202020;
  --scrollbar-thumb: #555;
}

.light__theme {
  /* transition: background-color 0.4s ease;  */
  color: black;
  background-color: rgb(255, 255, 255);
  --scrollbar-bg: #f1f1f1;
  --scrollbar-thumb: #676767;
}

/* Общие стили для скролла */
html {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-bg) var(--scrollbar-thumb);
}

/* Для Webkit-браузеров (Chrome, Safari) */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border: 3px solid var(--scrollbar-bg);
}

.m_576c9d4::before {
  border-color: #4c4c4c1a;
  border-width: 1px;


}

@media (hover: hover) {
  .m_539e827b:hover:where(:not([data-active])) {
    border-color: rgb(105, 105, 105);
  }
}

.dark__theme .m_539e827b:where([data-active]) {
  --tabs-color: rgb(177, 177, 177);
}

.light__theme .m_539e827b:where([data-active]) {
  --tabs-color: rgb(15, 15, 15);
  
}


.dark__theme .mantine-Tabs-tabLabel {
  color: rgb(224, 224, 224);
}

.light__theme .mantine-Tabs-tabLabel {
  color: rgb(0, 0, 0);
}


.mantine-Menu-dropdown {
  border-radius: 5px;
  background-color: rgb(2, 20, 8);
  color: white;
  outline: none;
  border: none;
  padding: 10px;
  backdrop-filter: blur(5px);
}

.mantine-Menu-item {
  background-color: transparent;
}

.light__theme .mantine-Accordion-label {
  color: black;
  font-weight: bold;
}

.dark__theme .mantine-Accordion-label {
  color: rgb(234, 232, 232);
  font-weight: bold;
}




.mantine-Menu-itemLabel {
  color: white;
  font-weight: 600;
}

.mantine-Menu-itemLabel:hover {
  color: rgb(195, 195, 195);
}

/* accardion */

.mantine-Accordion-control:hover {
  background-color: rgba(55, 54, 54, 0.16);
}

.mantine-Accordion-item {
  border-bottom: none;
}

.dark__theme .mantine-Accordion-chevron {
  color: rgb(203, 202, 202);
}

.light__theme .mantine-Accordion-chevron {
  color: black;
}